.calculator {
  background-color: #5bc6ff;
  height: 400px;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 4%;
  overflow: hidden;
  box-shadow: 8px 8px 20px #121212, -8px -8px 20px #444444;
}
.calc-display{
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 14px;
  color: #4f905c;
  font-weight: 700;
}
.display {
  width: 100%;
  height: 60px;
  background: #cddce5;
  box-shadow: inset 5px 5px 12px #8b969c, inset -5px -5px 12px #ffffff;
  margin: 0.2em 0 .5em;
  text-align: right;
  position: relative;
  padding: .8em 0.2em 0.3em;
  font-size: 28px;
  font-weight: 700;
}
.nums-container{
width: 75%;
}
.ops-container{
width: 25%;
}


button {
  border-radius: 50%;
  margin: 5px;
  height: 50px;
  width: 50px;
  border: none;
  background: linear-gradient(145deg, #42a7cf, #388cae);
  box-shadow: 5px 5px 20px #378bac, -5px -5px 20px #45add6;
  color: rgb(236, 228, 228);
  font-size: larger;
  font-weight: 700;
  outline: none;
}
button:hover {
opacity: .9;
}
button:active{
  transform: scale(.9);
}
button.yellow {
  margin-right: 0;
  background: linear-gradient(145deg, #827c36, #9a9440);
  box-shadow: 5px 5px 20px #378bac, -5px -5px 20px #45add6;
}
button.gray {
  background: linear-gradient(145deg, #404e53, #364246);
  box-shadow: 5px 5px 20px #378bac, -5px -5px 20px #45add6;
}
button.green {
  background: linear-gradient(145deg, #437a4d, #4f905c);
  box-shadow: 5px 5px 20px #378bac, -5px -5px 20px #45add6;
}
button.red {
  width: 60%;
  display: block;
  border-radius: 20px;
  background: linear-gradient(145deg, #7d3232, #692a2a);
  box-shadow: 5px 5px 20px #378bac, -5px -5px 20px #45add6;
}
button.big-h {
  width: 110px;
  border-radius: 50px;
}
button.big-v {
  border-radius: 50px;
  height: 110px;
}

div.trial{
  left: 0;
  display: inline-block;
  width: 100px;
}